/* 
------------ Fichier css pour la page de connexion ----------------
------------------- Créer par Camille CRAPAT ----------------------
-------------------------------------------------------------------
--------------------------- Infos : -------------------------------
---------------- Taille des blocs en width en % ; -----------------
--------------- Taille des blocs en height en vh ; ----------------
--------------- Taille des enfants en width en % ; ----------------
--------------- Taille des enfants en height en % ; ---------------
------------- Taille des marges et paddings en vh / vw ------------
*/
.blockProfileCreatePost {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.blockProfileCreatePost .profile {
  height: 100%;
  background-color: #000;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.blockProfileCreatePost .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.identity {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.identity .name {
  font-weight: bold;
}
.identity .work {
  font-style: italic;
}
.newPost {
  width: 100%;
  border: none;
  color: #000;
  vertical-align: top;
  line-height: 100%;
  resize: none;
  outline: none;
}
.newPost::placeholder {
  vertical-align: top;
  color: #454545;
  font-weight: bold;
}
.newPost::-webkit-input-placeholder {
  vertical-align: top;
  font-weight: bold;
}
.newPost:focus-visible {
  border: none;
}
input[type="file" i] {
  display: none;
}
.imgButton {
  display: flex;
  background-color: #08162e;
  color: #fff;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
}
.imgButton:hover {
  background-color: #0f395d;
}
.filesSelector {
  display: flex;
}
.profileImgName {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newPostButton {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .blockProfileCreatePost {
    height: 11%;
    padding: 2.5vh 4vw;
  }
  .blockProfileCreatePost .profile {
    margin-right: 2.66vw;
  }
  .identity .name {
    font-size: 0.8em;
  }
  .identity .work {
    font-size: 0.72em;
  }
  .newPost {
    height: 37%;
    font-size: 0.8em;
    padding: 2.5vh 4.16vw;
  }
  .imgButton {
    width: 28%;
    height: 4vh;
    border-radius: 7px;
    font-size: 0.75em;
    margin-right: 2.66vw;
  }
  .filesSelector {
    padding: 2.5vh 4.16vw;
  }
  .profileImgName {
    font-size: 0.58em;
  }
  .newPostButton {
    width: 28%;
    height: 4vh;
    border-radius: 7px;
    font-size: 0.75em;
    margin: 0 auto;
    margin-top: 7vh;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .blockProfileCreatePost {
    height: 12%;
    padding: 2.5vh 4vw;
  }
  .blockProfileCreatePost .profile {
    margin-right: 2.66vw;
  }
  .identity .name {
    font-size: 1em;
  }
  .identity .work {
    font-size: 0.9em;
  }
  .newPost {
    height: 45%;
    font-size: 1em;
    padding: 2.5vh 4.16vw;
  }
  .imgButton {
    width: 28%;
    height: 4vh;
    border-radius: 7px;
    font-size: 1em;
    margin-right: 2.66vw;
  }
  .filesSelector {
    padding: 2.5vh 4.16vw;
  }
  .profileImgName {
    font-size: 0.9em;
  }
  .newPostButton {
    width: 28%;
    height: 4vh;
    border-radius: 7px;
    font-size: 1em;
    margin: 0 auto;
    margin-top: 7vh;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .blockProfileCreatePost {
    height: 14%;
    padding: 2.5vh 4vw;
  }
  .blockProfileCreatePost .profile {
    margin-right: 1.8vw;
  }
  .identity .name {
    font-size: 1em;
  }
  .identity .work {
    font-size: 0.9em;
  }
  .newPost {
    height: 40%;
    font-size: 1em;
    padding: 2.5vh 4.16vw;
  }
  .imgButton {
    width: 18%;
    height: 5vh;
    border-radius: 7px;
    font-size: 1em;
    margin-right: 1.8vw;
  }
  .filesSelector {
    padding: 2.5vh 4.16vw;
  }
  .profileImgName {
    font-size: 0.9em;
  }
  .newPostButton {
    width: 20%;
    height: 5vh;
    border-radius: 7px;
    font-size: 1em;
    margin: 0 auto;
    margin-top: 7vh;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .createPostBackground {
    display: block;
  }
  .blockProfileCreatePost {
    height: 15%;
    padding: 2.5vh 1.6vw;
  }
  .blockProfileCreatePost .profile {
    margin-right: 1vw;
  }
  .identity .name {
    font-size: 0.9em;
  }
  .identity .work {
    font-size: 0.82em;
  }
  .newPost {
    height: 40%;
    font-size: 0.9em;
    padding: 2.5vh 1.6vw;
  }
  .imgButton {
    width: 30%;
    height: 4.5vh;
    border-radius: 7px;
    font-size: 0.9em;
    margin-right: 1vw;
  }
  .filesSelector {
    padding: 2.5vh 1.6vw;
  }
  .profileImgName {
    font-size: 0.82em;
  }
  .newPostButton {
    width: 32%;
    height: 4.5vh;
    border-radius: 7px;
    font-size: 0.9em;
    margin: 0 auto;
    margin-top: 7vh;
  }
}
@media screen and (min-width: 1601px) and (max-width: 2560px) {
  .createPostBackground {
    display: block;
  }
  .blockProfileCreatePost {
    height: 15%;
    padding: 2.5vh 1.6vw;
  }
  .blockProfileCreatePost .profile {
    margin-right: 1vw;
  }
  .identity .name {
    font-size: 0.9em;
  }
  .identity .work {
    font-size: 0.82em;
  }
  .newPost {
    height: 40%;
    font-size: 0.9em;
    padding: 2.5vh 1.6vw;
  }
  .imgButton {
    width: 30%;
    height: 4.5vh;
    border-radius: 7px;
    font-size: 0.9em;
    margin-right: 1vw;
  }
  .filesSelector {
    padding: 2.5vh 1.6vw;
  }
  .profileImgName {
    font-size: 0.82em;
  }
  .newPostButton {
    width: 32%;
    height: 4.5vh;
    border-radius: 7px;
    font-size: 0.9em;
    margin: 0 auto;
    margin-top: 7vh;
  }
}
@media screen and (min-width: 2561px) {
  .createPostBackground {
    display: block;
  }
  .blockProfileCreatePost {
    height: 15%;
    padding: 2.5vh 1.6vw;
  }
  .blockProfileCreatePost .profile {
    margin-right: 1vw;
  }
  .identity .name {
    font-size: 0.9em;
  }
  .identity .work {
    font-size: 0.82em;
  }
  .newPost {
    height: 40%;
    font-size: 0.9em;
    padding: 2.5vh 1.6vw;
  }
  .imgButton {
    width: 30%;
    height: 4.5vh;
    border-radius: 7px;
    font-size: 0.9em;
    margin-right: 1vw;
  }
  .filesSelector {
    padding: 2.5vh 1.6vw;
  }
  .profileImgName {
    font-size: 0.82em;
  }
  .newPostButton {
    width: 32%;
    height: 4.5vh;
    border-radius: 7px;
    font-size: 0.9em;
    margin: 0 auto;
    margin-top: 7vh;
  }
}
