.createPostPop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
}
.headerCreatePost {
  width: 100vw;
  height: 6.66vh;
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 4.16vw;
}
.headerCreatePost .arrow {
  width: 8%;
  height: 100%;
}
.headerCreatePost .arrow img {
  width: 100%;
  height: 100%;
}
.headerCreatePost .title {
  width: 92%;
  padding-left: 25%;
  font-size: 0.75em;
  font-weight: bold;
}
.blockProfileCreatePost {
  width: 100%;
  height: 11vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5vh 4.16vw;
}
.blockProfileCreatePost .profile {
  height: 100%;
  background-color: #000;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  margin-right: 2.66vw;
}
.blockProfileCreatePost .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.identity {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.identity .name {
  font-size: 0.8em;
  font-weight: bold;
}
.identity .work {
  font-size: 0.72em;
  font-style: italic;
}
.newPost {
  width: 100%;
  height: 37vh;
  border: none;
  font-size: 0.8em;
  color: #000;
  vertical-align: top;
  line-height: 100%;
  padding: 2.5vh 4.16vw;
  resize: none;
  outline: none;
}
.newPost::placeholder {
  vertical-align: top;
  color: #454545;
  font-weight: bold;
}
.newPost::-webkit-input-placeholder {
  vertical-align: top;
  font-weight: bold;
}
.newPost:focus-visible {
  border: none;
}
input[type="file" i] {
  display: none;
}
.imgButton {
  display: flex;
  width: 28vw;
  height: 4vh;
  background-color: #08162e;
  color: #fff;
  font-weight: bold;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-size: 0.75em;
  cursor: pointer;
  margin-right: 2.66vw;
}
.imgButton:hover {
  background-color: #0f395d;
}
.filesSelector {
  display: flex;
  padding: 2.5vh 4.16vw;
}
.newPostButton {
  display: flex;
  width: 28vw;
  height: 4vh;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-size: 0.75em;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 7vh;
}
.profileImgName {
  font-size: 0.58em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
