/* 
------------ Fichier css pour la page de connexion ----------------
------------------- Créer par Camille CRAPAT ----------------------
-------------------------------------------------------------------
--------------------------- Infos : -------------------------------
---------------- Taille des blocs en width en % ; -----------------
--------------- Taille des blocs en height en vh ; ----------------
--------------- Taille des enfants en width en % ; ----------------
--------------- Taille des enfants en height en % ; ---------------
------------- Taille des marges et paddings en vh / vw ------------
*/
.connexion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #122442;
}
.connexionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connexion--forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.input {
  width: 100%;
  font-style: italic;
}
button {
  width: 100%;
  font-weight: bold;
  color: #fff;
  background-color: #08162e;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .connexion {
    height: 63vh;
  }
  .connexionContainer {
    width: 100%;
    height: 100%;
    padding: 5.62vh 9.47vw 3vh 9.47vw;
  }
  .connexion--forms {
    width: 100%;
    height: 30%;
    margin-bottom: 3.74vh;
  }
  .input {
    height: 37%;
    font-size: 0.84em;
    padding-left: 2.5vw;
  }
  button {
    height: 11%;
    font-size: 0.84em;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .connexion {
    height: 63vh;
  }
  .connexionContainer {
    width: 100%;
    height: 100%;
    padding: 8vh 9.47vw 4vh 9.47vw;
  }
  .connexion--forms {
    width: 100%;
    height: 30%;
    margin-bottom: 5.24vh;
  }
  .input {
    height: 37%;
    font-size: 0.84em;
    padding-left: 2.65vw;
  }
  button {
    height: 11%;
    font-size: 0.84em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .connexion {
    height: 70vh;
    justify-content: center;
  }
  .connexionContainer {
    width: 55%;
    height: 58%;
    display: flex;
    justify-content: space-between;
    padding: 6vh 3.9vw 3vh 3.9vw;
  }
  .connexion--forms {
    width: 100%;
    height: 65%;
  }
  .input {
    height: 37%;
    font-size: 1em;
    padding-left: 2.14vw;
  }
  button {
    height: 22%;
    font-size: 1em;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .connexion {
    height: 70vh;
    justify-content: center;
  }
  .connexionContainer {
    width: 35%;
    height: 65%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 7.5vh 2.28vw;
  }
  .connexion--forms {
    width: 100%;
    height: 50%;
  }
  .input {
    height: 40%;
    font-size: 1em;
    padding-left: 0.8vw;
  }
  button {
    height: 20%;
    font-size: 1em;
  }
}
@media screen and (min-width: 1601px) and (max-width: 2560px) {
  .connexion {
    height: 70vh;
    justify-content: center;
  }
  .connexionContainer {
    width: 35%;
    height: 65%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 7.5vh 2.28vw;
  }
  .connexion--forms {
    width: 100%;
    height: 50%;
  }
  .input {
    height: 40%;
    font-size: 1em;
    padding-left: 0.8vw;
  }
  button {
    height: 20%;
    font-size: 1em;
  }
}
@media screen and (min-width: 2561px) {
  .connexion {
    height: 70vh;
    justify-content: center;
  }
  .connexionContainer {
    width: 35%;
    height: 65%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 7.5vh 2.28vw;
  }
  .connexion--forms {
    width: 100%;
    height: 50%;
  }
  .input {
    height: 40%;
    font-size: 1em;
    padding-left: 0.8vw;
  }
  button {
    height: 20%;
    font-size: 1em;
  }
}
