.headerHorsCo {
  width: 100vw;
  display: flex;
  background-color: #122442;
}
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo img {
  width: 60%;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .headerHorsCo {
    height: 25vh;
    padding: 5.33%;
    align-items: flex-end;
  }
  .logo {
    height: 30%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .headerHorsCo {
    height: 25vh;
    padding: 3.8% 5.55%;
    align-items: flex-end;
  }
  .logo {
    height: 32%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .headerHorsCo {
    height: 18vh;
    align-items: center;
  }
  .logo {
    height: 38%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .headerHorsCo {
    height: 18vh;
    align-items: center;
  }
  .logo {
    height: 40%;
  }
}
@media screen and (min-width: 1601px) and (max-width: 2560px) {
}
@media screen and (min-width: 2561px) {
}
