.headerHorsCo {
  width: 100vw;
  height: 25vh;
  display: flex;
  align-items: flex-end;
  background-color: #122442;
  padding: 2.99vh 5.33vw;
}
.logo {
  width: 100vw;
  height: 30%;
  display: flex;
  justify-content: center;
}
.logo img {
  width: 60%;
  height: 100%;
}
