.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.header .blockHeader {
  width: 100%;
  background-color: #122442;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vh 2.66vw;
}
.header .blockHeader .logo {
  width: 42%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header .blockHeader .logo img {
  width: 100%;
  height: 100%;
}
.header .blockHeader .profile {
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.header .blockHeader .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header nav {
  background-color: #ededed;
  width: 100%;
}
.header nav ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header nav ul li {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.33px solid #000;
}
.header nav ul li a {
  font-weight: 600;
  font-size: 0.84em;
  color: #000;
  text-decoration: none;
}
.header nav ul li:last-child {
  border-bottom: none;
}
@media screen and (max-width: 480px) {
  .header .blockHeader {
    height: 10vh;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .header .blockHeader {
    height: 9vh;
  }
}
@media screen and (min-width: 1601px) and (max-width: 2560px) {
}
@media screen and (min-width: 2561px) {
}
