/* 
---------------- Fichier css pour la page erreur ------------------
------------------- Créer par Camille CRAPAT ----------------------
-------------------------------------------------------------------
--------------------------- Infos : -------------------------------
---------------- Taille des blocs en width en % ; -----------------
--------------- Taille des blocs en height en vh ; ----------------
--------------- Taille des enfants en width en % ; ----------------
--------------- Taille des enfants en height en % ; ---------------
------------- Taille des marges et paddings en vh / vw ------------
*/
.error {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #122442;
  padding: 7.05vh 5.33vw;
  color: #fff;
  font-weight: bold;
}
.error--oups {
  font-size: 1.25em;
  margin-bottom: 7.04vh;
}
.error--404 {
  font-size: 7.95em;
  margin-bottom: 7.04vh;
}
.error--errorPage {
  font-size: 1.25em;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .error {
    height: 63vh;
  }
}
@media screen and (min-width: 769px) {
  .error {
    height: 70vh;
  }
}
